{% include 'header.html' %}
{% include 'navbar.html' %}
{% include 'menubar.html' %}

<div class="page-wrapper">

    <div class="page-titles">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <!-- <h4 class="text-muted mb-0 fw-normal">Welcome</h4> -->
                <h1 class="mb-0 fw-bold">Change Password</h1>
            </div>
        </div>
        {% if message %}
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center text-danger">
                {{message}}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="container-fluid">

        <!-----------------start report code----------->
            <div class="col-sm-12 col-md-4">
                <form id="change_password_form" action="/change-password" method="POST">
                    <div class="modal-body">
                        <!-- row form start-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="inputform">
                                    <label for="old_password_input" class="control-label">Old Password</label>
                                    <input id="old_password_input" type="password" name="old_password" class="form-select-input">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="inputform">
                                    <label for="password_input" class="control-label">New Password</label>
                                    <input id="password_input" type="password" name="password" class="form-select-input">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="inputform">
                                    <label for="confirm_password_input" class="control-label">Confirm Password</label>
                                    <input id="confirm_password_input" type="password" class="form-select-input">
                                </div>
                            </div>
                         </div>
                        <!-- row form end-->

                    </div>
                    <div class="modal-footer d-flex justify-content-end">
                        <button class="btn btn-primary" onclick="return submitForm()" type="submit">
                            SAVE
                        </button>
                    </div>
                </form>
            </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

   
    <!-- <footer class="footer">2021© All Rights Reserved by Wrappixel</footer> -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<script>
    function submitForm() {
        const oldPassword = document.getElementById('old_password_input').value;
        const newPassword = document.getElementById('password_input').value;
        const confirmPassword = document.getElementById('confirm_password_input').value;

        if (newPassword !== confirmPassword) {
            alert("New password and confirm password do not match.");
            return false;
        }

        if (oldPassword === newPassword) {
            alert("New password cannot be the same as the old password.");
            return false;
        }

        return true; // Allow form submission
    }
</script>
{% include 'footer.html' %}
