<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-lg navbar-dark">
      <div class="navbar-header">
        <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i
            class="ri-close-line ri-menu-2-line fs-6"></i></a>
        <a class="navbar-brand" href="javascript:void(0)">
          <span class="logo-text">
            <h class="mb-0 fw-bold">ACE ACPITAL ALGO</h>
          </span>
        </a>
        <a class="topbartoggler d-block d-lg-none waves-effect waves-light fgf" href="javascript:void(0)"
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"><i class="ri-more-line fs-6"></i></a>
      </div>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
        </ul>

        <ul class="navbar-nav align-items-center">
          
          <li class="nav-item me-3">
            <a class="nav-link waves-effect waves-dark position-relative d-inline-block pt-2 pb-2" href="javascript:void(0)" id="notification-toggle">
              <i class="ri-notification-3-line" style="font-size: 1.6rem;"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none" 
                    id="notif-badge" 
                    style="font-size: 0.65rem; padding: 0.35em 0.5em; border: 2px solid #222b3c; margin-top: 10px; margin-left: -5px;">
                0
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>